<div class="row">
    <div class="col-xs-6">
        <form (ngSubmit)="onSubmitApplicant(applicantForm)" #applicantForm="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" required ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="phoneNumber">Mobile No</label>
                    <input type="text" id="phoneNumber" class="form-control" name="phoneNumber" required ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" name="email" placeholder="Your email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success" type="submit" [disabled]="!applicantForm.valid">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-6">
        <h1 appBetterHighlight> Make Telephonic Call </h1>
        <table id='telephoicCandidates' class='table table-striped' cellspacing='0' width='100%'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Email</th>
                    <th>Select</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let telephonicApplicant of telephonicApplicants">
                    <td>{{telephonicApplicant.name}}</td>
                    <td>{{telephonicApplicant.phoneNumber}}</td>
                    <td>{{telephonicApplicant.email}}</td>
                    <td>
                        <a (click)='onSelectCandidate(telephonicApplicant)' style="cursor:pointer">
                   Select</a>
                    </td>
                    <td>
                        <a (click)='onRejectCandidate(telephonicApplicant)' style="cursor:pointer">
                   Reject</a>
                    </td>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>