<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmitApplicant(applicantForm)" #applicantForm="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" required ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="phoneNumber">Mobile No</label>
                    <input type="text" id="phoneNumber" class="form-control" name="phoneNumber" required ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" name="email" placeholder="Your email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!applicantForm.valid">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>