<div class="container">
    <h2>Model Driven Form</h2>
    <h2>User Data </h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="userForm.controls['name'].hasError('required')" class="alert alert-danger">
                Please enter a Name
            </div>
            <div *ngIf="userForm.controls['name'].hasError('minLength')" class="alert alert-danger">
                Please enter atleast 4 Characters
            </div>
            <div *ngIf="userForm.controls['name'].hasError('maxLength')" class="alert alert-danger">
                Name Cannot exceed more than 10
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>Street</label>
                <input class="form-control" formControlName="street">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" formControlName="postalCode">
                <div *ngIf="userForm.controls['address'].controls['postalCode'].hasError('pattern')" class="alert alert-danger">
                    Postal Code format is 5 Digit
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
    </form>
</div>