<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmitApplicant(applicantForm)" #applicantForm="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="phoneNumber">Mobile No</label>
                    <input type="text" id="phoneNumber" class="form-control" name="mobileNo" ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" name="mobileNo" ngModel>
                </div>
            </div>
        </form>
    </div>
</div>